<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/7.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://files.catbox.moe/fawl7f.ico"
    />
    <meta http-equiv="refresh" content="30" />
    <!--
    Thanks to 7.css, amazing!
    https://khang-nd.github.io/7.css/
    -->
    <title>mesna.cz</title>
    <style>
      a {
        color: black;
      }
      a:hover {
        color: black;
        text-decoration-line: none;
      }
      .ccss {
        color: blue;
      }
      .ccss:hover {
        text-decoration-line: underline;
        color: blue;
      }
      .abcd {
        max-width: 100%;
        min-height: 90%;
      }
      body {
        font:
          9pt "Segoe UI",
          "SegoeUI",
          "Noto Sans",
          sans-serif;
      }
      .inln{
        max-height=1%;
      }
    </style>
  </head>
  <body>
    <div class="window active abcd"></div>
    <div class="title-bar">
      <div class="title-bar-text">mesna.cz - Internet explorer</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Restore"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body has-space">
      <section class="tabs">
        <menu role="tablist" aria-label="Tabs Template">
          <a href="/"><button role="tab" aria-controls="tab-A">Home</button></a>
          <a href="/projects"
            ><button role="tab" aria-controls="tab-B" href="/projects">
              Projects
            </button></a
          >
          <a href="/links">
            <button
              role="tab"
              aria-controls="tab-C"
              aria-selected="true"
              href="/links"
            >
              Links
            </button></a
          >
          <a href="/guestbook">
            <button role="tab" aria-controls="tab-D" href="/guestbook">
              Guestbook
            </button></a
          >
          <button role="tab" aria-controls="tab-E" disabled>
            Chatroom (in progress)
          </button>
        </menu>
      </section>
      <p>Links!</p>
      <p>If you wanna be featured here, Email me :D</p>
      <br />

      <div class="window active" style="max-width: 300px">
        <div class="title-bar">
          <div class="title-bar-text">Your persona!</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body has-space">
          <form action="/persona" method="post">
            <label for="name">Name/Nick*:</label>
            <input
              id="name"
              type="text"
              name="name"
              style="margin-right: 3%"
              {%
              if
              has_account
              %}value="{{persona.user}}"
              {%
              endif
              %}
            />
            <br />
            <label for="color">Color:</label>
            <input
              type="color"
              id="color"
              name="color"
              {%
              if
              has_account
              %}
              value="{{persona.color}}"
              {%
              else
              %}value="#000000"
              {%
              endif
              %}
              style="width: 85%"
            />
            <br />
            <label for="image">Image URL*:</label>
            <input
              id="image"
              name="image"
              type="text"
              style="margin-right: 3%"
              {%
              if
              has_account
              %}value="{{persona.image}}"
              {%
              endif
              %}
            />

            <p>Fields marked with * are required</p>
            {% if has_account %}
            <button type="submit" value="Submit">Update persona!</button>
            {% else %}
            <button type="submit" value="Submit">Set persona!</button>
            {% endif %}
          </form>
        </div>
      </div>
      <br />
      <br />
      <a href="#chatbox"><button>Scroll to current</button></a>
      {% for m in messages %}
      <div role="tooltip" class="is-top is-right">{{m.contents}}</div>
      <div>
        <img src="{{m.user.image}}" style="max-width: 50px; max-height: 50px" />
        <br />
        <span style="color:{{m.user.color}};">{{m.user.user}}</span>
      </div>
      {% endfor %} {% if has_account %}
      <form action="/chatroom_add" method="post">
        <input id="mesasge" name="mesasge" type="text" style="width: 70%" />
        <button type="submit" value="Submit">Send!</button>
      </form>
      {% endif %}
    </div>

    <div class="status-bar">
      <p class="status-bar-field">{{curryear}} - Huewhg</p>
      <p class="status-bar-field">{{year}}</p>
      <p class="status-bar-field">
        Made with
        <a class="ccss" href="https://khang-nd.github.io/7.css/">7.css</a>
      </p>
      <p class="status-bar-field">CPU Usage: {{cpu}}%</p>
    </div>
  </body>
</html>
